@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background-color: #ef623b;
}
h1 {
	color: #fff2e0;
}

.container {
	padding: 25px calc((100vw - 960px) / 2);

	@media (max-width: 980px) {
		padding: 25px 10px;
	}
}
.temp-line {
	display: flex;
	padding: 8px;
}
input {
	background-color: #fff2e0;
	border: none;
	margin-right: 16px;
	padding: 6px 4px;
}
p {
	color: #fff2e0;
	font-weight: 700;
}
